/* Style for the side navigation */
.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    padding-top: 20px;
}

.sidenav a {
    padding: 15px 10px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    background-color: #575757;
    color: white;
}

/* Style for the main content */
.main-content {
    margin-left: 200px; /* Same as the width of the sidenav */
    padding: 20px;
}

#content {
    margin-top: 50px;
}

h1 {
    color: #111;
}
